Exercise_2/Data/LibrarySchema.xsd

<?xml version="1.0" encoding="utf-8"?>
	<xsi:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3schools.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema">
		<xsi:element name="Library">
			<xsi:complexType>
				<xsi:sequence>
					<xsi:element name="Books">
						<xsi:complexType>
							<xsi:sequence>
								<xsi:element name="Book" maxOccurs="unbounded" minOccurs="0">
									<xsi:complexType>
										<xsi:sequence>
											<xsi:element type="xsi:string" name="Title"/>
											<xsi:element type="xsi:string" name="Author"/>
											<xsi:element type="xsi:string" name="Genre"/>
											<xsi:element type="xsi:double" name="Price"/>
										</xsi:sequence>
									</xsi:complexType>
								</xsi:element>
							</xsi:sequence>
						</xsi:complexType>
					</xsi:element>
				</xsi:sequence>
			</xsi:complexType>
		</xsi:element>
</xsi:schema>
